# Importing Useful Libraries

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler

# Creating Functions for Changing Numerical Data to Categorical Data

In [22]:
def hasNone(x):
    if(x=='None'):
        return 1
    
def education_to_numeric(x):
    if x=='Post Graduate':
        return 3
    if x=='Under Graduate':
        return 2
    if x=='Other':
        return 1
    if x=='Graduate':
        return 0
    if x=='None':
        return 4
    
def occupation_to_numeric(x):
    if x=='Professional':
        return 3
    if x=='Salaried':
        return 2
    if x=='Business':
        return 1
    if x=='Student':
        return 0
    if x=='None':
        return 4
    
def gender_to_numeric(x):
    if x=='Male':
        return 1
    if x=='Female':
        return 2
    if x=='None':
        return 0
    
def organization_to_numeric(x):
    if x=='None':
        return 0
    if x=='Tier 1':
        return 1
    if x=='Tier 2':
        return 2
    if x=='Tier 3':
        return 3
def seniority_to_numeric(x):
    if x=='None':
        return 0
    if x=='Entry':
        return 1
    if x=='Mid-level 1':
        return 2
    if x=='Junior':
        return 3  
def house_to_numeric(x):
    if x=='Family':
        return 0
    if x=='Rented':
        return 1
    if x=='Owned':
        return 2
    if x=='Company provided':
        return 3
    if x=='None':
        return 4
def vehicle_to_numeric(x):
    if x=='None':
        return 0
    if x=='Four Wheeler':
        return 1
    if x=='Two Wheeler':
        return 2
def marital_to_numeric(x):
    if x=='Married':
        return 0
    if x=='Single':
        return 1
    if x=='Other':
        return 2
    if x=='None':
        return 3

# Exploring the Dataset

In [30]:
df=pd.read_csv("credit_data.csv")
df.head()

,age,gender,education,occupation,organization_type,seniority,annual_income,disposable_income,house_type,vehicle_type,marital_status,no_card,default
0,19,Male,Graduate,Professional,None,None,186319,21625,Family,None,Married,0,1
1,18,Male,Under Graduate,Professional,None,None,277022,20442,Rented,None,Married,0,1
2,29,Male,Under Graduate,Salaried,None,Entry,348676,24404,Rented,None,Married,1,1
3,18,Male,Graduate,Student,None,None,165041,2533,Rented,None,Married,0,1
4,26,Male,Post Graduate,Salaried,None,Mid-level 1,348745,19321,Rented,None,Married,1,1

# Applying the above functions

In [23]:
df['education'] = df['education'].apply(education_to_numeric)
df['gender'] = df['gender'].apply(gender_to_numeric)
df['occupation'] = df['occupation'].apply(occupation_to_numeric)
df['vehicle_type'] = df['vehicle_type'].apply(vehicle_to_numeric)
df['marital_status'] = df['marital_status'].apply(marital_to_numeric)
df['house_type'] = df['house_type'].apply(house_to_numeric)
df['seniority'] = df['seniority'].apply(seniority_to_numeric)
df['organization_type'] = df['organization_type'].apply(organization_to_numeric)
df[df==np.inf]=np.nan
df.fillna(df.mean(), inplace=True)
y=df["default"]
X=df.loc[:, ~df.columns.isin(['default'])]

# Using Train-Test Split for splitting the data

In [24]:
from sklearn.model_selection import train_test_split 
  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Scaling the Data using StandardScaler

In [25]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
X_test = X_test.fillna(X_train.mean())
X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)

C:\Users\KEVIN\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\KEVIN\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\KEVIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """

# Decision Tree Classification using Gini Index

In [26]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5) 
clf_gini.fit(X_train, y_train) 

print(clf_gini)
y_pred_gini = clf_gini.predict(X_test) 
from sklearn.metrics import accuracy_score 
accuracy_score(y_test,y_pred_gini)*100

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

85.09083728278041

# Decision Tree Classifier using Entropy

In [29]:
dtree=DecisionTreeClassifier(criterion='entropy',random_state=0
                             ,min_samples_leaf=10
                            ,min_samples_split=10)
dtree.fit(X_train,y_train)
y_pred_entropy=dtree.predict(X_test)
y_pred_entropy
Score_entropy=accuracy_score(y_test,y_pred_entropy)
print("Accuracy: %0.2f" % (round(Score_entropy*100,2)))

Accuracy: 83.44